@{
    ViewData["Title"] = "Home Page";
}

<div>
  <div style="height:40vh;width:70vw" class="">
    <img src="~/images/hom.jpg" style="border-radius:10px;object-fit:cover;width:100%;height:100%;" />
  </div>
  <div class="d-flex mt-4">
    <div>
      <div class="mt-4">
        <h2 class="text-capitalize w-75"><i class="bi bi-activity mx-2" style="color:royalblue;"></i>Change Lives through exceptional healthcare</h2>
      </div>

      <div class="d-flex gap-4 mt-3">
        <button class="text-capitalize border-0 position-absolute p-2 text-white rounded-3" style="background-color: royalblue">Book Appointment</button>
        <p class="w-50" style="margin-left: 10vw">You <b>Health</b>, Our <b>Priority</b>. Change lives through exceptional <b>healthcare</b></p>
      </div>
    </div>
    <div class="d-flex gap-2">
      <div class="bg-light w-100 h-75 p-4 rounded-3 d-flex flex-column justify-content-center align-items-center">
        <h2>77%</h2>
        <p class="" style="font-size:12px;">Successful diagnosis</p>
      </div>
      <div class="bg-light w-100 h-75 p-4 rounded-3 d-flex flex-column justify-content-center align-items-center">
        <h2>77%</h2>
        <p style="font-size:12px;">Successful diagnosis</p>
      </div>
    </div>
   </div>

   <div class="mt-5">
    <h2 class="text-capitalize w-50">welcome, where your well-being is our foremost priority.<i class="bi bi-heart-pulse px-1" style="background-color:red;color:white;border-radius:50%;font-size:30px;"></i></h2>

    <p class="w-50"><i class="bi bi-arrow-up-right-circle-fill mx-1" style="color: royalblue;font-size:25px;"></i>WellnessWave is dedicated to delivering personalized and accessible healthcare, promoting preventive practives</p>
   </div>

   <div class="d-flex">
     <div class="d-flex">
      <img src="~/images/doctor.jpg" class="rounded-3" style="width:10vw;height:25vh;" />
      <div class="mt-5 mx-5">
        <h3>Online appointment</h3>
        <p>At WellnessWave we believe in fostering strong doctor-patient relationships...</p>
        <button class="bg-blue-50 p-2 rounded-3 border-0">Appointment</button>
        <p><i class="bi bi-telephone p-1"></i>Call now </p>
      </div>
    </div>
    <div class="gap-2 d-flex flex-column">
      <div class="bg-info p-3" style="width:30vw;border-radius:15px;">
        <p class="text-capitalize fst-italic text-white mx-4 my-auto"><span class="text-truncate">01</span> PATIENT-CENTRIC APPROACH</p>
      </div>
      <div class="bg-light p-3" style="width:30vw;border-radius:15px;">
        <p class="text-capitalize fst-italic mx-4 my-auto"><span class="text-truncate">02</span> EXCEPTIONAL CARE, EVERYTIME</p>
      </div>
      <div class="bg-light p-3" style="width:30vw;border-radius:15px;">
        <p class="text-capitalize fst-italic mx-4 my-auto"><span class="text-truncate">03</span> INNOVATION IN HEALTHCARE</p>
      </div>
      <div class="bg-light p-3" style="width:30vw;border-radius:15px;">
        <p class="text-capitalize fst-italic mx-4 my-auto"><span class="text-truncate">04</span> LATEST ADVANCEMENT IN MEDICAL TECHNOLOGY</p>
      </div>
    </div>
   </div>
</div>